

<!DOCTYPE html>
<html lang"es">
<head>
	<meta charset="utf-8">
	<br>
	<title> {% block title %} Bienvenidos{% endblock %} </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet"  href="/media/bootstrap/css/bootstrap.css">
	<link rel="stylesheet"  href="/media/bootstrap/css/bootstrap-responsive.css">
	<script src="/media/js/jquery.js"></script>
	<script src="/media/bootstrap/js/bootstrap.js"></script>

	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>





	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.sidebar-nav{
			padding: 9px 0;
		}

	</style>








	<script type="text/javascript">
        $(document).on('ready',function(){
              $.ajax({
                  type:"GET",
                  contentType:"application/json; charset=utf-8",
                  dateType:"json",
                  url:"/ws/productos/",
                  success:function(response){
                          var i = (response.length-1)-2;
                          for(i;i<=(response.length-1);i++){
                              $('#ProductosNuevos').append("<li>"+response[i].fields.nombre+"</li>");
                          }    
                  }
              });
        });

	</script>

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class = "navbar-inner">
			
				<a class="brand" href="{% url "vista_principal" %}"> Proyecto Ventas</a>
				{% if user.is_authenticated %}
					<p class="navbar-text pull-right">
						Usuario{{user.username}}
					</p>
				{% endif %}	
				<ul class="nav">
					<li><a href="{% url "vista_principal" %}">Inicio</a></li>
					<li><a href="/productos/page/1/">Productos</a></li>
					<li><a href="{% url "vista_contacto" %}">Contacto</a></li>
					<li><a href="{% url "vista_about" %}">Acerca de </a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url "logout_contacto" %}"> Cerrar Sesion </a></li>
					{% else %}
					<li><a href=" {% url "vista_login" %} ">Login</a></li>
					{% endif %}
				</ul>
			
		</div><!--/inner-->
	</div><!--/navbar-->

	<div class="container-fluid">
		<div class="row-fluid">
			
					<div class="span9">
						<div class="hero-unit">
							{% block content %}
							{% endblock %}
						</div>
				</div>
				<div class="span3">
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header">Mi Perfil</li>
								<br><p align="justify">
									{% if user.is_authenticated %}
								<p>Bienvenido {{user}} </p>
								<img src="{{get_image_profile}}" width="50px" heigth="50px"  >
							{% else %}
								<a href="/login/" class="btn btn-primary">Login</a> 
							{% endif %}	
								</p>
							</ul>
						</div><!--/well-->
					
					
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header">Mi Carrito</li>
								<br><p align="justify">
									Carrito de Super
								</p>
							</ul>
						</div><!--/well-->
				
					
						<div class="well sidebar-nav">
							<ul class="nav nav-list" id="ProductosNuevos">
								<li class="nav-header">nuevos PRODUCTOS</li>
								
								</p>
							</ul>
						</div><!--/well-->
						<img src="/media/imagenes/django.gif"/>
				</div><!--/span3-->
			
	</div>
<hr>
	<footer>
		<p>&copy; Open Project 2014. version Django: {{django_version}} </p>
	</footer>
</body>
</html>