{% extends "home/base.html" %}
{% block title %} Lista de Productos{% endblock %}
{% block content %}
<h1> {{ producto.nombre }} </h1><br>
<img src="/media/{{ producto.imagen }}" width="150px" heigth="150px">
<p> {{ producto.descripcion }} </p>
<p> ${{ producto.precio }} </p>
<p> Cantidad en Existencia: {{ producto.stock }} </p>
<br>
<h5> Categorias a la que pertenece el producto</h5>
{% for cat in categorias  %}
<span class ="label label-info"> {{cat.nombre}} </span>
{% endfor %}
<br><br>
{% if producto.stock > 0 %}
	<a href="#" class="btn btn-primary"> Comprar Producto </a>
{% endif %}	
<a href="javascript:window.history.go(-1);" class="btn btn-primary"> Regresar a a la Lista</a>
{% endblock %}